<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

  <div id="home">
    <nav class="navbar navbar-expand-lg navbar-dark rounded-lg" id="navbarchange" >
        <img src="{{url_for('static',filename='images/logo.png')}}" class="logo_set" alt="logo" style="width:150px;height:50px;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blood Bank
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addbb">Add Blood Bank</a>
                <a class="dropdown-item" href="/adddonor">Add Donor Database</a>
                <a class="dropdown-item" href="/analysisbank">Analysis</a>
                <a class="dropdown-item" href="/predictbank">Prediction</a>
                <a class="dropdown-item" href="/viewcsv">View Uploaded CSV</a>
                <a class="dropdown-item" href="/viewbb">Blood Banks List</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hospitals
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addhospital">Add Hospital</a>
                <a class="dropdown-item" href="/analysishosp">Analysis</a>
                <a class="dropdown-item" href="/predicthosp">Prediction</a>
                <a class="dropdown-item" href="/query">Query</a>
                <a class="dropdown-item" href="/viewhosp">Hospitals List</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>

    <div class="jumbotron text-center text-white shadow p-6 mb-5 rounded">
      <h1>BloodSource: Predict Blood Donations</h1>
        <p class="text-p">We, at BloodSource aim to connect hospitals with their nearby blood banks so that hospitals would not run out of their blood reserves. Moreover, registered hospitals can quantitatively and qualitatively analyse the stored data (of blood donors) of all blood banks without any breach of blood-donor's personal information and also predict future donations with the help of same.</p>
        
      </div>


    <h2 class="heading text-center" style="font-weight: 700; font-size: 4rem; ">OUR GOALS </h2>
    <br>
    <!-- <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="../images/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h4 class="card-title text-center">Saving lives</h4> -->
              <!-- <p class="card-text">Increase the effectiveness and efficiency of blood donations.</p>
            </div>
          </div> 
          <br>     
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="card">
            <img src="../images/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h4 class="card-title text-center">Spreading Smiles</h4> -->
              <!-- <p class="card-text">Analyse patterns in blood donations and make important predictions about future blood donations.</p>
            </div>
          </div> 
          <br>     
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="../images/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h4 class="card-title text-center">Enriching Mankind</h4> -->
              <!-- <p class="card-text">Connect blood banks with hospitals.</p>
            </div>
          </div>
          <br>      
        </div>
      </div>
    </div> --> 
    <div class="card-deck">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="{{url_for('static',filename='images/1.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Increase the effectiveness and efficiency of blood donations</h5>
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="{{url_for('static',filename='images/4.jpeg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Analyse patterns in blood donations and make important predictions about future blood donations</h5>
          <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="{{url_for('static',filename='images/5.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Connect blood banks with hospitals</h5>
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>

  </div>

</body>
</html>
