<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Blood Bank</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/apbank.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark rounded-lg" id="navbarchange">
        <img src="{{url_for('static',filename='images/logo.png')}}" class="logo_set" alt="logo" style="width:150px;height:50px;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blood Bank
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/addbb">Add Blood Bank</a>
                  <a class="dropdown-item" href="/adddonor">Add Donor Database</a>
                  <a class="dropdown-item" href="/analysisbank">Analysis</a>
                  <a class="dropdown-item" href="/predictbank">Prediction</a>
                  <a class="dropdown-item" href="/viewcsv">View Uploaded CSV</a>
                  <a class="dropdown-item" href="/viewbb">Blood Banks List</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hospitals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/addhospital">Add Hospital</a>
                  <a class="dropdown-item" href="/analysishosp">Analysis</a>
                  <a class="dropdown-item" href="/predicthosp">Prediction</a>
                  <a class="dropdown-item" href="/query">Query</a>
                  <a class="dropdown-item" href="/viewhosp">Hospitals List</a>
                </div>
              </li>
            </ul>
          </div>
    </nav>


    <div class="text-left" id="formstyling">
        <h1 align="center">Prediction</h1>
        <p align="center">Login with your Blood Bank ID and Password, so that you can predict (age-wise, gender-wise etc.) the future donations of your blood bank.</p>
        <br>
        <form>
            <div class="form-group row">
                <label for="id" class="col-sm-4 col-md-3 col-form-label">ID : </label>
                <div class="col-sm-8 col-md-9">
                    <input type="text" class="form-control" id="id">
                </div>
            </div>
            <div class="form-group row text-left">
                <label for="password" class="col-sm-4 col-md-3 col-form-label">Password : </label>
                <div class="col-sm-8 col-md-9">
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="text-center">
                <button id="btnSubmit" class="btn btn-primary" type="button">Submit</button>
            </div>
            
            
            <div id="allbb" style="display: none;">
                <hr>
                <h3>Prediction Steps :</h3>
                <ul>
                    <li>Select the month (or Any for all months)</li>
                    <li>Click on different distribution to see prediction</li>
                </ul>
                <br>
                
                <div class="form-row justify-content-center align-items-end">
                    <div class="form-group col-6 col-sm-5 col-md-4">
                        <label for="month">Month</label>
                        <select id='month' class="form-control">
                            <option value="Any" selected>Any</option>
                        </select>
                    </div>
                    <div style="display: none;" class="form-group col-6 col-md-5">
                        <label for="predict">Include Future Prediction</label>
                        <select id="predict" class="form-control">
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>                
            
                <div class="text-center">
                    <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                        <br>
                        <!-- <button id="age" class="btn btn-info" type="button" >Click for Age wise distribution</button>
                        <br>
                        <button id="gender" class="btn btn-info" type="button">Click for Gender wise distribution</button>
                        <br> -->
                        <button id="bloodGrp" class="btn btn-info" type="button">Click for Blood Group wise distribution</button>
                        <br>
                    </div>
                </div>
                
            </div>
        </form>
    </div>

    <div id="displayGraphs" class="container-fluid" align="center">
        <div class="row justify-content-center">                    
            <div id="displayAgeGraph" class="col-lg-6" style="display: none;">
                <h4>Age wise distribution</h4>
                <canvas id="ageBarGraph"></canvas>
                <br>
            </div>
            <div id="displayGenderGraph" class="col-lg-6" style="display: none;">
                <h4>Gender wise distribution</h4>
                <canvas id="genderPieChart"></canvas>
                <br>
            </div>
            <div id="displayBloodGpGraph" class="col-lg-6" style="display: none;">
                <h4>Blood group wise distribution</h4>
                <canvas id="bloodGrpBarGraph"></canvas>
                <br>
            </div>
        </div>
    </div>

</body>
</html>