<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Hospitals</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/viewhosp.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark rounded-lg" id="navbarchange">
        <img src="{{url_for('static',filename='images/logo.png')}}" class="logo_set" alt="logo" style="width:150px;height:50px;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blood Bank
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addbb">Add Blood Bank</a>
                <a class="dropdown-item" href="/adddonor">Add Donor Database</a>
                <a class="dropdown-item" href="/analysisbank">Analysis</a>
                <a class="dropdown-item" href="/predictbank">Prediction</a>
                <a class="dropdown-item" href="/viewcsv">View Uploaded CSV</a>
                <a class="dropdown-item" href="/viewbb">Blood Banks List</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hospitals
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addhospital">Add Hospital</a>
                <a class="dropdown-item" href="/analysishosp">Analysis</a>
                <a class="dropdown-item" href="/predicthosp">Prediction</a>
                <a class="dropdown-item" href="/query">Query</a>
                <a class="dropdown-item" href="/viewhosp">Hospitals List</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>

	<h1 class="center-hospital">List of Hospitals</h1>
    <div class="container-fluid text-center">
        <div class="table-responsive table-sm"> 
            <div id="ForTable"></div>          
        </div>      
    </div>

</body>
</html>